.topblock1{
    position:fixed;
    background:#fa7d3c;
    width:100%;
    height:2px;
    z-index:5;
    top:0px;
}
.topblock2{
    opacity:0.9;
    height:50px;
    width:100%;
    background: white;
    z-index:1;
    box-shadow:0 1px 4px 1px #cccccc;
    position:fixed;
    top:0px;

}
.topblock3 input{
    position:fixed;
    background: #faffbd;
    z-index:1;
    left:432px;
    top:11px;
    width:300px;
    height:26px;
    border:1px solid #cccccc;
}
body{
    margin:0px;
    background-color: #b4daf0;
}
.middle{
    position:fixed;
}
.pct1{
    z-index:20;
    height:30px;
    position:fixed;
    top:9px;
    left:320px;
}
.pct2{
    z-index:20;
    height:24px;
    vertical-align:middle;
}
.icon_li a:link{
    text-decoration: none;
    color:black;
}
.icon_li a:visited{
    color:black;
}
.icon a:hover{
    color:#fa7d3c;
}
.text_top{
    font-size:14px;
}
.icon_ul{
    position:fixed;
    left:800px;
    z-index:2;
    top:0px;
}
.icon_li{
    list-style-type:none;
    display:block;
    display:inline-block;
    margin-left: 26px;
    position:relative;
    bottom:2px;
}

.icon a{
    vertical-align:middle;
}
.icon_character_ul{
    text-decoration: none; 
    position:fixed;
    left:1200px;
    font-size:14px;
    z-index:2;
    top:0px;
}
.icon_character_li {
    list-style-type:none;
    display:block;
    display:inline-block;
    margin-left:15px;
    position:relative;
    top:2px;
}
.icon_character_li a{
    text-decoration: none;
}
.icon_character_li a:link{
    color:black;
}
.icon_character_li a:visited{
    color:black;
}
.icon_character_li a:hover{
    color:#fa7d3c;
}
.comment{
    position:relative;
    top:65px;
}
.comment_put{
    background:white;
    width:600px;
    height:165px;
    border-radius: 2px;

}
.comment_person_data{
    position:relative;
    bottom:57px;
}
.comment_person{
    background:white;
    width:230px;
    height:165px;
    margin-left:10px;
    border-radius: 2px;
    text-align:center;
}
.back_img1{
    width:230px;
    height:75px;
}
.back_img2{
    width:60px;
    position:relative;
    bottom:45px;
}
.nameBox{
    position:relative;
    top:10px;

}
.nameBox a:link{
    text-decoration: none;
    color:black;
}
.nameBox a:visited{
    text-decoration: none;
    color:black;
}
.nameBox a:hover{
    text-decoration: none;
    color:#fa7d3c;
}
.nameBox_data{
    list-style: none;
    position:relative;
    right:37px;

}
.nameBox_data li{

    margin-left:30px;

}
.data1 a:link{
    text-decoration:none;
}
.data1 strong{
    color:black;
}
.data2 a:link{
    text-decoration:none;
}
.data2 strong{
    color:black;
}
.data3 a:link{
    text-decoration:none;
}
.data3 strong{
    color:black;
}
.data_text{
    color:#cccccc;
    font-size: 12px;
}
.nameBox_data li{
    display: inline-block;
}
.span1{
    font-size: 12px;
    color:#1b7fb6;
    position:relative;
    top:10px;
    left:10px;
}
#comment_div{
    position:relative;
    top:10px;
    left:10px;
    width:570px;
    height:80px;
    border:solid 1px #ccc;
    font-size:5px;
}
#comment_div:focus{
    border:solid 1px #fa7d3c;
    outline: none;
}
.comment_put_emoji a {
    text-decoration: none;
    margin-left:20px;
    position:relative;
    top:15px;
    right:8px;

}
.emoji_link img {  
    vertical-align: middle;
}
.emoji_link span{
    position:relative;
    right:2px;
    font-size: 10px;
}
.emoji_link img{
    width:20px;
}
.emoji_link:link{
    color:black;
}
.emoji_link:visited{
    color:black;
}
.emoji_link:hover{
    color:#fa7d3c;
}
.comment_put_put{
    width:80px;
    height:30px;
    background:#fa7d3c;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    float:right;
    margin-right:17px;
    font-size: 15px;
}
.comment_put_put input{
    text-decoration: none;
    background:transparent;
    color:white;
    border: none;
    font-size:15px;
}
.window_title{
    background:white;
    border-top:solid 2px #ff8140;
    border-bottom:solid 1px #ccc;
    width:540px;
    height:39px;
    line-height: 39px;
    font-size:14px;
}
.window_inner{
    background:white;
    width:540px;
    height:448px;
}
